@import "tailwindcss";

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #3A5A40;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color1 {
    background-color: #3A5A40;
}

.color2 {
    background-color: #588157;
}

.color3 {
    background-color: #A3B18A;
}

.color4 {
    background-color: #DAD7CD;
}